.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 1rem;
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem; /* Adds space between brand and first nav item */
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Aligns items to the right */
}

.nav-item {
    font-size: 1rem;
    padding: 0 0.75rem; /* Adds spacing between nav items */
}

    .nav-item .nav-link {
        color: #d7d7d7;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
    }

        .nav-item .nav-link.active {
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .nav-item .nav-link:hover {
            color: #1abc9c;
            background-color: rgba(255, 255, 255, 0.1);
        }

    .nav-item .bi {
        margin-right: 0.5rem; /* Space between icon and text */
        font-size: 1.2rem;
        vertical-align: middle;
    }

.navbar-toggler ~ .nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
}
