@page "/makes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project_Food_Nutrition.Domain
@using Project_Food_Nutrition.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project_Food_Nutrition.Data.Project_Food_NutritionContext> DbFactory

<PageTitle>Recipe Index</PageTitle>

<h1>Recipes</h1>


<p>
    <a href="makes/create" class="btn btn-primary">Create New Recipe</a>
    
</p>

<!-- QuickGrid Table for displaying recipes -->
<QuickGrid Class="table" Items="context.Recipe">
    <PropertyColumn Property="make => make.Name" />
    <PropertyColumn Property="make => make.DateCreated" />
    <PropertyColumn Property="make => make.DateUpdated" />
    <PropertyColumn Property="make => make.CreatedBy" />
    <PropertyColumn Property="make => make.UpdatedBy" />

    <!-- Action links for each recipe -->
    <TemplateColumn Context="make">
        <a href="@($"makes/edit?id={make.Id}")">Edit</a> |
        <a href="@($"makes/details?id={make.Id}")">Details</a> |
        <a href="@($"makes/delete?id={make.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Project_Food_NutritionContext context = default!;

    // Initialize the context
    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    // Clean up resources when disposed
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
